[submodule "interactive_devices/class"]
	path = interactive_devices/class
	url = git@github.com:jschmidtnj/Developing-and-Designing-Interactive-Devices.git
[submodule "interactive_devices/labs"]
	path = interactive_devices/labs
	url = git@github.com:jschmidtnj/Interactive-Lab-Hub.git
[submodule "mle"]
	path = mle
	url = git@github.com:jschmidtnj/mle.git
[submodule "vr_ar"]
	path = vr_ar
	url = git@github.com:jschmidtnj/vr_ar.git
[submodule "algo"]
	path = algo
	url = git@github.com:jschmidtnj/algo.git
[submodule "productstudio"]
	path = productstudio
	url = git@github.com:jschmidtnj/productstudio.git
