[submodule "interactive_devices/class"]
	path = interactive_devices/class
	url = git@github.com:jschmidtnj/Developing-and-Designing-Interactive-Devices.git
[submodule "interactive_devices/labs"]
	path = interactive_devices/labs
	url = git@github.com:jschmidtnj/Interactive-Lab-Hub.git
[submodule "mle"]
	path = mle
	url = git@github.com:jschmidtnj/mle.git
[submodule "vr_ar"]
	path = vr_ar
	url = git@github.com:jschmidtnj/vr_ar.git
[submodule "algo"]
	path = algo
	url = git@github.com:jschmidtnj/algo.git
[submodule "productstudio"]
	path = productstudio
	url = git@github.com:jschmidtnj/productstudio.git
[submodule "resume"]
	path = resume
	url = git@github.com:jschmidtnj/resume.git
[submodule "interviews"]
	path = interviews
	url = git@github.com:jschmidtnj/interviews.git
[submodule "mlhardware/assignments/a0"]
	path = mlhardware/assignments/a0
	url = git@github.com:ML-HW-SYS/a0-jschmidtnj.git
[submodule "deeplearning"]
	path = deeplearning
	url = git@github.com:jschmidtnj/deeplearning.git
[submodule "ml_hardware"]
	path = ml_hardware
	url = git@github.com:jschmidtnj/ml_hardware.git
[submodule "ubicomp"]
	path = ubicomp
	url = git@github.com:jschmidtnj/ubicomp.git
[submodule "flex"]
	path = flex
	url = git@github.com:ai-flex/flex.git
[submodule "blockchain"]
	path = blockchain
	url = git@github.com:jschmidtnj/blockchain.git
